*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#050505;
color:white;
overflow-x:hidden;
transition:0.4s;
perspective:1200px;
}

/* BACKGROUND ANIMADO */

.bg-animation{
position:fixed;
width:200%;
height:200%;
background:radial-gradient(circle at center,#7a00ff22,transparent 70%);
animation:move 15s linear infinite;
z-index:-1;
}

@keyframes move{
0%{transform:translate(0,0);}
50%{transform:translate(-8%,-8%);}
100%{transform:translate(0,0);}
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:30px;
animation:fadeDown 1s ease;
}

.logo{
font-size:42px;
color:#7a00ff;
letter-spacing:6px;
}

#search{
padding:12px 20px;
border:none;
border-radius:25px;
background:#111;
color:white;
outline:none;
transition:0.3s;
}

#search:focus{
box-shadow:0 0 15px #7a00ff88;
}

/* CARDS */

.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:40px;
padding:50px;
}

.card{
width:300px;
background:#0f0f0f;
border-radius:20px;
padding:20px;
cursor:pointer;
transition:0.2s;
transform-style:preserve-3d;
position:relative;
}

.card::before{
content:"";
position:absolute;
inset:0;
border-radius:20px;
background:radial-gradient(circle at var(--x) var(--y),#7a00ff55,transparent 40%);
opacity:0;
transition:0.3s;
}

.card:hover::before{
opacity:1;
}

.fake-image{
height:180px;
border-radius:15px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
margin-bottom:15px;
transition:0.3s;
transform-style:preserve-3d;
}

.fake-image span{
font-size:18px;
letter-spacing:4px;
color:#aaa;
transform:translateZ(30px);
}

.fake-image h2{
font-size:30px;
transform:translateZ(60px);
}

/* CORES */

.internal{background:linear-gradient(135deg,#000,#3d007a);}
.external{background:linear-gradient(135deg,#000,#5a00aa);}
.trick{background:linear-gradient(135deg,#000,#7a00ff);}
.ios{background:linear-gradient(135deg,#000,#9d2fff);}

.card p{
opacity:0.7;
font-size:14px;
}

/* COMPRA */

.buy-page{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.buy-box{
width:420px;
background:#0f0f0f;
padding:40px;
border-radius:20px;
text-align:center;
transform-style:preserve-3d;
transition:0.3s;
}

.big-image{
height:200px;
margin-bottom:20px;
}

.buy-box input{
width:100%;
padding:12px;
margin:20px 0;
border:none;
border-radius:12px;
background:#1a1a1a;
color:white;
}

.buy-box button{
width:100%;
padding:15px;
border:none;
border-radius:12px;
background:#7a00ff;
color:white;
cursor:pointer;
transition:0.2s;
}

.buy-box button:hover{
background:#9d2fff;
transform:scale(1.05);
}
